// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "node_modules/bootswatch/dist/cerulean/variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/cerulean/bootswatch";

[v-cloak] {
  display: none;
}

$govbackup-header-height: 75px;
$govbackup-footer-height: 40px;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #444;
}

a {
  text-decoration: none !important;
  color: #1A79B0;
}

#app {
  padding-top: $govbackup-header-height;
}

#nav-main {
  height: $govbackup-header-height;
  padding-top: 0;
  padding-bottom: 0;
  font-size: .9rem;
  overflow: hidden;
  .navbar-brand {
    img {
      height: 60px;
    }
  }
}

#web_iframe {
  width: 100%;
  height: calc(100vh - #{$govbackup-header-height} - #{$govbackup-footer-height});
  margin: 0;
  padding: 0;
  border: none;
}

.result-item {
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {

    }
  }

  .link {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      color: green;
    }
  }

  .revision {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    font-weight: 600;
  }

  .highlights {
    font-size: 0.8rem;
    > div {
      padding: 0.2rem 0;
    }
  }
}

footer {
  height: $govbackup-footer-height;
  color: #666;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      margin: 0 .4rem;
      &:before {
        content: " \B7 ";
        font-size: 1.5rem;
        color: #BBB;
        position: relative;
        top: .25rem;
        left: -.25rem;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      a {
        color: #999;
      }
    }
  }

  // .Cookie* rules are for EU cookie info banner, using https://github.com/apertureless/vue-cookie-law
  .Cookie {
    justify-content: center !important;
    background-color: #FAFAFA !important;
  }

  .Cookie__content {
    max-width: 700px;
  }

  .Cookie__button {
    background-color: #2780E3 !important;
  }
}
