// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "node_modules/bootswatch/dist/cerulean/variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/cerulean/bootswatch";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #444;
}

body {
  padding-top: 60px;
}

a {
  text-decoration: none !important;
  color: #1A79B0;
}

#nav-main {
  padding-top: 0;
  padding-bottom: 0;
  font-size: .9rem;
  height: 75px;
  overflow: hidden;
  .navbar-brand {
    img {
      height: 60px;
    }
  }
}

#web_iframe {
  width: 100%;
  height: calc(100vh - 75px);
  margin: 0;
  padding: 0;
  border: none;
}

.result-item {
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {

    }
  }

  .link {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      color: green;
    }
  }

  .revision {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    font-weight: 600;
  }

  .highlights {
    font-size: 0.8rem;
    > div {
      padding: 0.2rem 0;
    }
  }
}